/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Londrina+Solid&family=Raleway:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500&display=swap");
@font-face {
  font-family: "Cafe Francoise", sans-serif;
  src: url("../fonts/Cafe\ Francoise_D.otf");
}

/* RESET */

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  height: 100%;
  width: 100%;
}

/* CUSTOM PROPERTIES */

:root {
  /* Colors */
  --yellow: #f8de22;
  --dandelion--yellow: #ffd966;
  --dark-yellow: #ffb80e;
  --barley--white: #fff2cc;

  /* Fonts */
  --brand-f: "Cafe Francoise", "Londrina Solid", sans-serif;
  --heading-f: "Lato", sans-serif;
  --body-f: "Roboto", sans-serif;
  --alt-f: "Raleway", sans-serif;

  /* Scroll behaviour */

  scroll-behavior: smooth;
}

/* MOBILE FIRST */

body {
  display: grid;
  font-family: var(--body-f);
  background-color: var(--barley--white);
  grid-template-areas:
    "sidebar"
    "main"
    "footer";
}

.sidebar {
  grid-area: sidebar;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

/*    Top Bar / Sidebar    */

.sidebar {
  display: flex;
  background-color: var(--dandelion--yellow);
  height: 70px;
  align-items: center;
}

.links {
  display: none;
}

.left {
  display: flex;
  gap: 0.5em;
  margin-left: 0.5em;
}

.right {
  margin-left: auto;
  margin-right: 1em;
}
h1 {
  font-family: var(--brand-f);
  font-size: 2rem;
  text-transform: uppercase;
  align-self: center;
}

.logo-cont {
  height: 50px;
}

/*      Main Content      */

main {
  display: grid;
  /* padding: 0.5em; */
}

/* Hero */

.hero {
  display: grid;
  grid-template-areas:
    "hero-heading"
    "hero-img"
    "hero-text"
    "hero-btn";
  justify-items: center;
  margin-top: 1em;
  background-color: var(--barley--white);
  border-radius: 10px;
  gap: 1em;
  padding: 0.5em;
}

.hero-heading {
  grid-area: hero-heading;
}

h2 {
  font-size: 3rem;
  font-family: var(--alt-f);
  font-weight: 700;
  text-align: center;
}

.hero-text {
  grid-area: hero-text;
  padding: 0 2em;
}

.hero-text p {
  font-family: var(--alt-f);
  text-align: justify;
}

.hero hr {
  display: none;
}

.hero-btn {
  grid-area: hero-btn;
  display: flex;
  gap: 0.5em;
}

.hero-img-cont {
  grid-area: hero-img;
  width: 300px;
}

.hero-img-cont img {
  border-radius: 10%;
}

.btn {
  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  padding: 0 24px;
  border-radius: 50px;
  max-width: 200px;
  height: 50px;
  font-size: 18px;
  background-color: var(--dandelion--yellow);
  font-weight: 800;
  color: #222;
  box-shadow: 0 0 0 3px #000000 inset;
  font-family: var(--alt-f);
  font-weight: 700;
}

.btn:hover {
  background-color: var(--dark-yellow);
}

hr {
  border: none;
  border-top: 2px solid;
}

/* Gallery */

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin-top: 1em;
  gap: 1em;
}

.gallery-heading {
  font-family: var(--brand-f);
  font-size: 2.5rem;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  width: 320px;
  border: 2px solid black;
  padding: 1em;
  border-radius: 5%;
  gap: 0.4em;
  align-items: center;
}

.gallery-item * {
  flex: 1 0 auto;
}

.gallery-img img {
  border-radius: 10%;
  height: inherit;
  transition: all 0.5s ease-in;
}

.gallery-img img:hover {
  transform: scale(0.9);
}

.gallery-img {
  height: 225px;
}

.fourth img {
  width: 284px;
}

h3 {
  font: var(--alt-f);
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.gallery-item p {
  font-family: var(--alt-f);
  font-weight: 600;
  text-align: justify;
  line-height: 1.5em;
  background-color: var(--dandelion--yellow);
  padding: 0.6em;
  border-radius: 15px;
  font-size: 1.5rem;
}

.stars i {
  font-size: 2rem;
  transition: 0.5 color ease-in-out;
}

.stars i:hover {
  color: var(--dandelion--yellow);
}

/* Footer */

footer {
  background-color: var(--dandelion--yellow);
  border-top: 2px solid black;
  margin-top: 1em;
}

.footer-container {
  display: flex;
  flex-direction: column;
  padding: 1em 0;
  gap: 1em;
  justify-content: center;
}

.footer-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h4 {
  font-family: var(--brand-f);
  letter-spacing: 0.5em;
  font-size: 1.5rem;
}

.footer-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.footer-links a {
  text-decoration: none;
}

.footer-links i {
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.footer-links i:hover {
  transform: scale(1.5);
}
.footer-container i {
  color: #000000;
  font-size: 2rem;
  margin: 3px 0;
}

footer p {
  text-align: center;
  font-weight: 500;
}

.arrow-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: auto;
}

.arrow-btn a {
  display: block;
  height: 30px;
  width: 30px;
  text-align: center;
  background-color: var(--dandelion--yellow);
  border: 3px solid black;
  border-radius: 0.5em;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.arrow-btn a:hover {
  background-color: var(--dark-yellow);
}

.arrow-btn a span {
  line-height: 30px;
  font-size: 1.5em;
  transition: all 0.2s ease-out;
}

.arrow-btn span:hover {
  transform: translateY(-3px);
}

/*                       - Desktop layout -                          */

@media screen and (min-width: 576px) {
  /* Layout */
  body {
    grid-template-columns: 20% 1fr 1fr;
    grid-template-areas:
      "sidebar main main"
      "sidebar main main"
      "footer footer footer";
  }

  /* Sidebar */

  .sidebar {
    flex-direction: column;
    height: auto;
    gap: 0.5em;
  }

  .left {
    margin-top: 1em;
    flex-direction: column;
    gap: 2em;
  }

  .logo-cont {
    order: 1;
  }

  .left h1 {
    order: 2;
  }

  .logo-cont img {
    height: 80px;
    width: 70px;
    margin: auto;
    transition: all 0.3s ease-in;
  }

  .logo-cont img:hover {
    transform: scale(1.2);
  }

  .links {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    gap: 1em;
  }

  .links a {
    text-decoration: none;
    width: 8rem;
    text-align: center;
    height: auto;
    padding: 20px;
    transition: all 0.3s ease-in-out;
  }

  .links a:hover {
    transform: scale(1.2) translate(20px);
  }

  .link-btn {
    background-color: var(--barley--white);
  }

  .right {
    display: none;
  }

  /* Hero */
  .hero {
    grid-template-columns: repeat(2, 2fr);
    grid-template-areas:
      "hero-heading hero-heading"
      "hero-text hero-img"
      "hero-btn hero-btn";
    height: 100vh;
    padding: 1em;
  }

  .hero-img-cont {
    width: auto;
  }

  .hero-text {
    align-self: center;
    font-size: 2.5rem;
  }

  .hero hr {
    display: block;
    margin-top: 10px;
    width: 60%;
  }

  .big-btn {
    height: 70px;
  }

  /* Gallery */

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    margin: 1em 0;
  }

  .gallery-item {
    width: 355px;
  }

  .gallery-item img:hover {
    animation-name: img-an;
    animation-duration: 2s;
    animation-timing-function: ease-in;
  }

  @keyframes img-an {
    0% {
      opacity: 0.3;
    }

    50% {
      opacity: 0.8;
    }

    100% {
      opacity: 1;
    }
  }

  /* Footer */

  footer {
    margin-top: 0;
  }

  .footer-container {
    margin-top: 0;
    flex-direction: row;
    background-color: none;
  }

  .footer-col {
    display: block;
  }

  .footer-links {
    flex-direction: row;
    justify-content: center;
    gap: 1em;
  }

  footer p {
    font-size: larger;
  }

  h4 {
    margin-bottom: 0.5em;
  }

  .footer-container .footer-col h4::before {
    display: block;
    content: "";
    position: relative;
    left: 0;
    bottom: -40px;
    background-color: black;
    height: 2px;
    width: 75px;
  }
}
